@model WebdeveloperCoperation.viewModel.contactForm

@{
    Layout = null;
}

@if (TempData["success"] == null)
{
    using (Html.BeginUmbracoForm("HandleFormSubmit", "contactFormSurface", new object { }, new { @class = "form-horizontal" }))
    {
    
    <div class="form-group">
        <div class="col-md-6 .col-md-offset-3">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 .col-md-offset-3">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.Email)
            </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 .col-md-offset-3">
            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", placeholder = "Subject" })
            @Html.ValidationMessageFor(m => m.Subject)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-6 .col-md-offset-3">
            @Html.TextBoxFor(m => m.Message, new { @class = "form-control", placeholder = "Message" })
            @Html.ValidationMessageFor(m => m.Message)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 .col-md-offset-3">
            <button type="submit" class="btn btn-default">Send</button>
        </div>
    </div>

}

}
else
{
    <p>Thank you for contacting us. We’ll be in touch soon!</p>
}


